<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.the_dagger.mlkit">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".activity.CardScannerActivity"
            android:theme="@style/AppThemeNoActionbar">
            <meta-data
                android:name="com.google.firebase.ml.vision.DEPENDENCIES"
                android:value="text" />
        </activity>
        <activity
            android:name=".activity.ImageLabelActivity"
            android:theme="@style/AppThemeNoActionbar">
            <meta-data
                android:name="com.google.firebase.ml.vision.DEPENDENCIES"
                android:value="label" />
        </activity>
        <activity
            android:name=".activity.FaceDetectionActivity"
            android:theme="@style/AppThemeNoActionbar">
            <meta-data
                android:name="com.google.firebase.ml.vision.DEPENDENCIES"
                android:value="face" />
        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.BarCodeReaderActivity"
            android:theme="@style/AppThemeNoActionbar">
            <meta-data
                android:name="com.google.firebase.ml.vision.DEPENDENCIES"
                android:value="barcode" />
        </activity>
        <activity
            android:name=".activity.LandmarkDetectorActivity"
            android:parentActivityName=".activity.HomeActivity">

        </activity>
        <activity android:name=".activity.PokemonDetectorActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

    </application>
</manifest>